In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import statistics as stats

injury_dataset = pd.read_csv('injury_data.csv')
injury_dataset.head()

,Player_Age,Player_Weight,Player_Height,Previous_Injuries,Training_Intensity,Recovery_Time,Likelihood_of_Injury
0,24,66.251933,175.732429,1,0.457929,5,0
1,37,70.996271,174.581650,0,0.226522,6,1
2,32,80.093781,186.329618,0,0.613970,2,1
3,28,87.473271,175.504240,1,0.252858,4,1
4,25,84.659220,190.175012,0,0.577632,1,1

In [2]:
injury_dataset.describe()

,Player_Age,Player_Weight,Player_Height,Previous_Injuries,Training_Intensity,Recovery_Time,Likelihood_of_Injury
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,28.231000,74.794351,179.750948,0.515000,0.490538,3.466000,0.50000
std,6.538378,9.892621,9.888921,0.500025,0.286184,1.701099,0.50025
min,18.000000,40.191912,145.285701,0.000000,0.000031,1.000000,0.00000
25%,22.000000,67.944028,173.036976,0.000000,0.241042,2.000000,0.00000
50%,28.000000,75.020569,180.034436,1.000000,0.483912,4.000000,0.50000
75%,34.000000,81.302956,186.557913,1.000000,0.730404,5.000000,1.00000
max,39.000000,104.650104,207.308672,1.000000,0.997749,6.000000,1.00000

In [3]:
injury_dataset['Likelihood_of_Injury'].value_counts()

Likelihood_of_Injury
0    500
1    500
Name: count, dtype: int64

In [ ]:
player_age_mode = stats.mode(injury_dataset['Player_Age'])
print('Player Age Mode: ', player_age_mode)

player_weight_mode = stats.mode(injury_dataset['Player_Weight'])
print('Player Weight Mode: ', player_weight_mode)

player_height_mode = stats.mode(injury_dataset['Player_Height'])
print('Player Height Mode: ', player_height_mode)